<div class="wrap wrap-grey">
  <%= render 'header' %>

  <div class="head-img Europe-bg">欧洲</div>
  <!-- <div class="head-img Asia-bg">亚洲</div> -->
  <!-- <div class="head-img America-bg">美洲</div> -->
  <!-- <div class="head-img Africa-bg">非洲</div> -->
  <!-- <div class="head-img Oceanica-bg">大洋洲</div> -->

  <div class="main">
    <div class="inner-module">
      <h2 class="title clearfix">
        <span>攻略游记</span>
      </h2>
      <div class="water-list">
        <ul class="clearfix">
          <!-- 开始 -->
          <li>
            <a class="item-img" href="/travels/100">
              <%= image_tag 'bg4.jpg', width: "320", height: "280" %>
              <!-- 列表图片宽高限制： width="320" height="280" -->
            </a>
            <div class="item-info">
              <h4>
                <a href="/travels/100">法国巴黎 24小时 | 咖啡 生活 美食</a>
              </h4>
              <div class="clearfix">
                <div class="list-info left">
                  <div class="clearfix">
                    <span>2015.09.15</span>
                    <span class="icon-pepole">20人</span>
                    <span class="icon-heart">200</span>
                    <span class="item-author">作者：苹果姐姐</span>
                  </div>
                </div>
                <div class="circle-img right">
                  <img src="images/face.jpg" width="40" height="40">
                  <%= image_tag 'circle40.png', width: "40", height: "40", class: 'circle-mask' %>
                </div>
              </div>
            </div>
          </li>
          <!-- 结束 -->

          <li>
            <a class="item-img" href="/travels/100">
              <%= image_tag 'bg1.jpg', width: "320", height: "280" %>
            </a>
            <div class="item-info">
              <h4>
                <a href="/travels/100">法国巴黎 24小时 | 咖啡 生活 美食</a>
              </h4>
              <div class="clearfix">
                <div class="list-info left">
                  <div class="clearfix">
                    <span>2015.09.15</span>
                    <span class="icon-pepole">20人</span>
                    <span class="icon-heart">200</span>
                    <span class="item-author">作者：苹果姐姐</span>
                  </div>
                </div>
                <div class="circle-img right">
                  <img src="images/face.jpg" width="40" height="40">
                  <%= image_tag 'circle40.png', width: "40", height: "40", class: 'circle-mask' %>
                </div>
              </div>
            </div>
          </li>

          <li>
            <a class="item-img" href="/travels/100">
              <%= image_tag 'bg2.jpg', width: "320", height: "280" %>
            </a>
            <div class="item-info">
              <h4>
                <a href="/travels/100">法国巴黎 24小时 | 咖啡 生活 美食</a>
              </h4>
              <div class="clearfix">
                <div class="list-info left">
                  <div class="clearfix">
                    <span>2015.09.15</span>
                    <span class="icon-pepole">20人</span>
                    <span class="icon-heart">200</span>
                    <span class="item-author">作者：苹果姐姐</span>
                  </div>
                </div>
                <div class="circle-img right">
                  <img src="images/face.jpg" width="40" height="40">
                  <%= image_tag 'circle40.png', width: "40", height: "40", class: 'circle-mask' %>
                </div>
              </div>
            </div>
          </li>

          <li>
            <a class="item-img" href="/travels/100">
              <%= image_tag 'bg3.jpg', width: "320", height: "280" %>
            </a>
            <div class="item-info">
              <h4>
                <a href="/travels/100">法国巴黎 24小时 | 咖啡 生活 美食</a>
              </h4>
              <div class="clearfix">
                <div class="list-info left">
                  <div class="clearfix">
                    <span>2015.09.15</span>
                    <span class="icon-pepole">20人</span>
                    <span class="icon-heart">200</span>
                    <span class="item-author">作者：苹果姐姐</span>
                  </div>
                </div>
                <div class="circle-img right">
                  <img src="images/face.jpg" width="40" height="40">
                  <%= image_tag 'circle40.png', width: "40", height: "40", class: 'circle-mask' %>
                </div>
              </div>
            </div>
          </li>

          <li>
            <a class="item-img" href="/travels/100">
              <%= image_tag 'bg4.jpg', width: "320", height: "280" %>
            </a>
            <div class="item-info">
              <h4>
                <a href="/travels/100">法国巴黎 24小时 | 咖啡 生活 美食</a>
              </h4>
              <div class="clearfix">
                <div class="list-info left">
                  <div class="clearfix">
                    <span>2015.09.15</span>
                    <span class="icon-pepole">20人</span>
                    <span class="icon-heart">200</span>
                    <span class="item-author">作者：苹果姐姐</span>
                  </div>
                </div>
                <div class="circle-img right">
                  <img src="images/face.jpg" width="40" height="40">
                  <%= image_tag 'circle40.png', width: "40", height: "40", class: 'circle-mask' %>
                </div>
              </div>
            </div>
          </li>

          <li>
            <a class="item-img" href="/travels/100">
              <%= image_tag 'bg1.jpg', width: "320", height: "280" %>
            </a>
            <div class="item-info">
              <h4>
                <a href="/travels/100">法国巴黎 24小时 | 咖啡 生活 美食</a>
              </h4>
              <div class="clearfix">
                <div class="list-info left">
                  <div class="clearfix">
                    <span>2015.09.15</span>
                    <span class="icon-pepole">20人</span>
                    <span class="icon-heart">200</span>
                    <span class="item-author">作者：苹果姐姐</span>
                  </div>
                </div>
                <div class="circle-img right">
                  <img src="images/face.jpg" width="40" height="40">
                  <%= image_tag 'circle40.png', width: "40", height: "40", class: 'circle-mask' %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <%= render 'footer' %>
</div>


<!-- 游客查看 游记列表

<% @travels.each do |travel| %>
<%= link_to travel.title, travel %>
<%= l travel.created_at %>
<br />
<% end %> -->