<style>
  .head-details{ background: transparent url(<%= image_url "img#{rand(5)}.jpg" %>) no-repeat center top;}
</style>

<div class="wrap wrap-grey">
  <%= render 'header' %>

  <div class="details-banner">
    <div class="head-details"><!-- 可更换背景图片 -->
      <div class="details-title">
        <h1>
          <a href="javascript:;"><%= @travel.title %></a>
        </h1>
      </div>
    </div>
    <div class="details-mark">
      <div class="inner-module clearfix">
        <div class="mark-left">
          <div class="mark-left-inner">
            <a class="face-img" href="javascript:;">
              <%= image_tag @travel.user.avatar_url(:v148x148), height: "120", width: "120" %>
              <%= image_tag 'face.jpg', height: "120", width: "120" %>
            </a>
            <p class="clearfix">
              <span>作者：<%= @travel.user.nickname %></span>
              <span class="detail-time"><%= @travel.created_at.to_date %></span>
              <span class="glance"><%= @travel.read_count %>人</span>  
            </p>
          </div>
        </div>
        <div class="mark-right">
          <div class="clearfix">
            <a class="target-addr" href="javascript:;"><%= Travel.areas.value_label_map[@travel.area_id.to_s] %></a>
            <a href="javascript:void(0);" id='liked_travel' class="like active" <% unless liked?(@travel.id) %>style="display: none;"<% end %>>喜欢<em><%= @travel.like_count || 0 %></em></a>
            <a href="javascript:void(0);" id='like_travel' data-id='<%= @travel.id %>' class="like" <% if liked?(@travel.id) %>style="display: none;"<% end %>>喜欢<em><%= @travel.like_count || 0 %></em></a>
            <a class="share" href="javascript:void(0);" onclick="click_share();">分享<em><%= @travel.share_count || 0 %></em></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="inner-module details-grey">
      <div class="details-container clearfix">
        <div class="details-left-bar" id="contentLeft">
          <% if @travel.event_id.blank? %>
          <div class="block-module item" id="line-t">
            <h2>攻略路线：</h2>
            <div class="travel-line">
              <%= @travel.line %>
            </div>
          </div>
          <% end %>
          <div class="block-module item" id="record-t">
            <h2>攻略记录：</h2>
            <div class="travel-record">
              <%= raw @travel.content %> 
            </div>
          </div>
          <div class="block-module item" id="summary-t">
            <% if @travel.event_id.blank? %>
            <h2>旅程总结：</h2>
            <div>
              <p>
                <%= raw @travel.sentiment %> 
              </p>
            </div>
            <% end %>
            <p class="join clearfix">
              <a class="btn btn-warning right" href="/user/travels/new">我也要参加</a>
            </p>
          </div>
          
          <!-- 评论开始 -->
          <div class="review" id="review_area">
            <h2><em><%= @travel.comments.count %></em>条评论</h2>
            <ul>
              <% @comments.each do |comment| %>
              <li class="clearfix">
                <div class="circle-img left">
                  <%= image_tag comment.user.avatar_url(:v148x148), height: "40", width: "40" %>
                  <img width="40" height="40" src="<%= image_url 'grey.png' %>" class="circle-mask">
                </div>
                <div class="review-text right">
                  <p><em><%= comment.user.nickname %>：</em><%= comment.content %></p>
                  <p class="time-text clearfix">
                    <span class="left"><%= l comment.created_at %></span>
                    <% if @travel.user == current_user %><%= link_to '删除', comment_path(comment), method: 'DELETE', class: 'right', data: { confirm:'您确认删除吗？' } %><% end %>
                    <% if current_user && @travel.user != current_user %><a class="right" href="javascript:void(0);" onclick='reply("<%= comment.user.nickname %>");'>回复</a><% end %>
                  </p>
                </div>
              </li>
              <% end %>
            </ul>
            <%= will_paginate @comments, previous_label: '上一页', next_label: '下一页' %>
            <div> 
              <%= simple_form_for(@travel.comments.new, as: "comment", url: comments_path) do |f| %>
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
              <%= tag(:input, type: "hidden", name: '[comment]travel_id', value: @travel.id) %>
              <%= f.input :content, label: false, placeholder: "发表评论：" %>
              <p class="btn-right clearifx">
                <%= f.button :submit, "发表", class: 'right' %>
              </p>
              <% end %>
            </div>
          </div>
          <!-- 评论结束 -->
        </div>
        <div class="details-right-bar">
          <% if @travel.event_id.blank? %>
          <div class="right-nav" id="menu">
            <ul>
              <li>
                <h4>攻略目录</h4>
              </li>
              <li class="right1">
                <a class="current" href="#line-t">攻略路线</a>
              </li>
              <li class="right2">
                <a href="#record-t">旅程记录</a>
              </li>
              <li class="right3">
                <a href="#summary-t">旅程总结</a>
              </li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer' %>
</div>

<% content_for :js do %>
<script type="text/javascript">

  // function click_share(){
  //   $.post("/ajax/share_weibo", {
  //     id: '<%= @travel.id %>'
  //   },function(){}, "script");
  //   shareInterval = setInterval(function(){
  //     try {
  //       bShare.share(event, 'sinaminiblog',0);
  //       clearInterval(shareInterval);
  //       return false;
  //     }catch (e) {
  //       bShare.init();
  //     } 
  //   },100)
  // }

  function click_share(){
    $.post("/ajax/share_weibo", {
      id: '<%= @travel.id %>'
    },function(){}, "script");
    var title = '<%= CGI::escape "我参加了工商银行“爱go 爱晒 爱分享”活动，期待能赢取2000元大奖! #{(@travel.sentiment || '').gsub(/\r\n/, '')}" %>';
    var url = "<%= CGI::escape request.url %>";
    window.open("http://service.weibo.com/share/share.php?title="+ title +"&url="+url+"&source=bookmark&appkey=&pic=&ralateUid=");
  }

  function reply(name){
    $('#comment_content').text('回复 ' + name + ': ');
    $('#comment_content').focus();
  }


  $(document).ready(function(){
    // bShare.init();

    // bShare.addEntry({
    //   title: "我参加了工商银行“爱go 爱晒 爱分享”活动，期待能赢取2000元大奖!",
    //   url: "<%= request.url %>",
    //   summary: "<%#= @travel.sentiment.gsub(/\r\n/, '') %>"
    // });

      //固定顶部导航
      var headHeight=$(".details-banner").height();
      var nav=$(".details-mark");
      $(window).scroll(function(){
        if($(this).scrollTop()>headHeight){
          nav.addClass("navFix");
        }
        else{
          nav.removeClass("navFix");
        }
      });

      var nav2=$(".right-nav");
      $(window).scroll(function(){
        if($(this).scrollTop()>headHeight){
          nav2.addClass("navFix");
        }
        else{
          nav2.removeClass("navFix");
        }
      });

      //攻略目录
      // $('.right-nav ul > li > a').click(function(){
      //   $(this).addClass('current').parent('li').siblings().children().removeClass('current');
      // })

}) 
</script>
<% end %>


