<div class="wrap">  <!-- 此处class有的页面会有添加 class="wrap wrap-grey" -->
  <%= render 'header' %>
  <div class="banner-module">
    <div class="main_visual">
      <div class="flicking_con">
        <a href="javascript:;">1</a>
        <a href="javascript:;">2</a>
        <a href="javascript:;">3</a>
      </div>
      <div class="main_image">
        <ul>
          <li><a href="/sub/event_zero" class="img_1"></a></li>
          <li><a href="/sub/product" class="img_2"></a></li>
          <li><a href="/sub/event_one" class="img_3"></a></li>
        </ul>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="inner-module">
      <div class="container">
        <h2 class="title clearfix">
          <span>全球热门</span>
        </h2>
        <div class="content">
          <ul class="hot-address clearfix">
            <li>
              <a href="/areas/0">
                <%= image_tag 'zhou_03.jpg', width: "320", height: "260" %>
                <div class="opcity-bg"></div>
                <span>亚洲</span>
              </a>
            </li>
            <li>
              <a href="/areas/1">
                <%= image_tag 'zhou_04.jpg', width: "320", height: "120" %>
                <div class="opcity-bg"></div>
                <span>欧洲</span>
              </a>
              <a href="/areas/3">
                <%= image_tag 'zhou_10.jpg', width: "320", height: "120" %>
                <div class="opcity-bg"></div>
                <span>大洋洲</span>
              </a>
            </li>
            <li>
              <a href="/areas/2">
                <%= image_tag 'zhou_06.jpg', width: "320", height: "120" %>
                <div class="opcity-bg"></div>
                <span>美洲</span>
              </a>
              <a href="/areas/4">
                <%= image_tag 'zhou_12.jpg', width: "320", height: "120" %>
                <div class="opcity-bg"></div>
                <span>非洲</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="content hui-img">
          <a target="_blank" class="product-link" href="http://www.icbc.com.cn/ICBC/%E5%B9%BF%E5%91%8A%E9%A1%B5%E9%9D%A2/%E7%BD%91%E7%AB%99%E5%AE%A3%E4%BC%A0%E5%B9%BF%E5%91%8A%E9%A1%B5%E9%9D%A2/%E6%80%BB%E8%A1%8C%E5%B9%BF%E5%91%8A%E9%A1%B5%E9%9D%A2/2015/0112%E4%B8%AA%E4%BA%BA%E7%BB%93%E5%94%AE%E6%B1%87/0112%E4%B8%AA%E4%BA%BA%E7%BB%93%E5%94%AE%E6%B1%87.htm">
            <%= image_tag 'hui.jpg', width: "1000", height: "265" %>
          </a>
        </div>
        <div class="bottom-line"></div>
      </div>

      <div class="container">
        <div class="clearfix">
          <div class="left-bar">
            <h2 class="title clearfix">
              <span>精选攻略</span>
              <!-- <a class="more" href="javascript:;">更多</a> -->
            </h2>
            <div class="content">
              <ul class="list-content">
                <% @selected_tarvels.each do |travel| %>
                <li>
                  <div class="clearfix">
                    <a class="img-content" href="/travels/<%= travel.id %>">
                      <%= image_tag travel.cover_url(:v210x126), width: "210", height: "126" %>
                    </a>
                    <div class="list-description">
                      <h3>
                        <a href="/travels/<%= travel.id %>"><%= travel.title %></a>
                      </h3>
                      <p class="summary">
                        <%= travel.sentiment %>
                      </p>
                      <p class="small-text clearfix">
                        <span>作者：<%= travel.user.nickname %></span>
                        <span><%= travel.created_at.to_date %></span>
                        <span class="icon-heart"><%= travel.like_count || 0 %></span>
                        <span class="icon-share0"><%= travel.share_count || 0 %></span>
                        <span class="from">来自：<%= Travel.areas.value_label_map[travel.area_id.to_s] %> 版</span>
                      </p>
                    </div>
                  </div>
                  <div class="bottom-line1"></div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="right-bar">
            <!-- 活动规则begin -->
            <h2 class="title clearfix">
              <span>活动规则</span>
              <a class="more right" href="/sub/event_zero">更多</a>
            </h2>
            <div class="content">
              <div class="active-rule">
                <h4>活动时间:</h4>
                <p class="rule-time">
                  2015年9月21日——10月31日。
                </p>
                <h4>参与方式:</h4>
                <p class="clearfix">
                  在活动主题页面中注册您的个人信息，上传自己原创的境外旅游攻略，并分享至新浪微博，就有机会获得活动大奖价值2000元的工商银行融e购电子券。
                </p>
              </div>
            </div>
            <!-- 中奖名单end -->
            <div class="bottom-line"></div>

            <!-- 中奖名单begin -->
            <h2 class="title clearfix">
              <span>中奖名单</span>
              <a class="more right" href="javascript:;">更多</a>
            </h2>
            <div class="content">
              <div class="topRec_List">
                <dl>
                  <dd>中奖人姓名</dd>
                  <dd>手机号</dd>
                </dl>
                <div class="maquee">
                  <ul>
                    <li>
                      <div>董女士</div>
                      <div>187****3241</div>
                    </li> 
                    <li>
                      <div>戴先生</div>
                      <div>187****6208</div>
                    </li> 
                    <li>
                      <div>秦先生</div>
                      <div>187****6208</div>
                    </li> 
                  </ul>
                </div>
              </div>
            </div>
            <!-- 结售汇指南begin -->
            <div class="bottom-line"></div>

            <!-- 活动规则end -->
            <h2 class="title clearfix">
              <span>结售汇指南</span>
            </h2>
            <div class="content">
              <div class="ck-slide">
                <ul class="ck-slide-wrapper">
                  <li>
                    <a target="_blank" href="/sub/product"><%= image_tag 'a-img.jpg', width: "320", height: "120" %></a>
                  </li>
                  <li style="display:none">
                    <a href="/sub/qa"><%= image_tag 'b-img.jpg', width: "320", height: "120" %></a>
                  </li>
                </ul>
                <a href="javascript:;" class="ctrl-slide ck-prev">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
                <div class="ck-slidebox">
                  <div class="slideWrap">
                    <ul class="dot-wrap">
                      <li class="current"><em>1</em></li>
                      <li><em>2</em></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- 结售汇指南end -->
          </div>
        </div>
        <div class="bottom-line"></div>
      </div>

      <div class="container">
        <h2 class="title clearfix">
          <span>主题活动</span>
        </h2>
        <div class="content">
          <ul class="theme-activities clearfix">
            <li>
              <div class="theme-content">
                <a href="/sub/event_one">
                  <%= image_tag 'theme_07.jpg', width: "490", height: "160" %>
                </a>
                <a class="theme-title" href="/sub/event_one">我是最美风景 ——9月21日-9月30日</a>
              </div>
            </li>
            <li>
              <div class="theme-content">
                <a href="/sub/event_two">
                  <%= image_tag 'theme_09.jpg', width: "490", height: "160" %>
                </a>
                <a class="theme-title" href="/sub/event_two">最爱心中那一瞬 ——10月8日-10月18日</a>
              </div>
            </li>
            <li>
              <div class="theme-content">
                <a href="/sub/event_three">
                  <%= image_tag 'theme_12.jpg', width: "490", height: "160" %>
                </a>
                <a class="theme-title" href="/sub/event_three">舌尖上的全世界 ——10月19日-10月25日</a>
              </div>
            </li>
            <li>
              <div class="theme-content">
                <a href="/sub/event_four">
                  <%= image_tag 'theme_13.jpg', width: "490", height: "160" %>
                </a>
                <a class="theme-title" href="/sub/event_four">跨越地球去体验 ——10月26日-10月31日</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="bottom-line-white"></div>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function(){

    //主题

    $('.hot-address li a').mouseover(function(){
      $(this).children().not('img').stop().animate({opacity:0});
    });
    $('.hot-address li a').mouseout(function(){
      $(this).children().not('img').stop().animate({opacity:1});
    });

    //清楚border
      $('.left-bar .list-content > li:last-child .bottom-line1').addClass('line-clear');
    
  }) 
</script>
<!-- 文字滚动 -->
<script type="text/javascript"> 
  $('.ck-slide').ckSlide({
    autoPlay: true
  });

  function autoScroll(obj){  
    $(obj).find("ul").animate({  
      marginTop : "-25px"  
    },500,function(){  
      $(this).css({marginTop : "0px"}).find("li:first").appendTo(this);  
    })  
  }  
  $(function(){  
    setInterval('autoScroll(".maquee")',3000);          
  }) 

</script> 
<% end %>