<div class="wrap">
  <%= render 'header' %>

  <div class="head-profile">
    <div class="inner-module">
      <a class="profile-img" href="/user/edit_avatar">
        <%= image_tag current_user.avatar_url(:v148x148), height: "148", width: "148" %>
      </a>
      <p><%= current_user.nickname %></p>
      <p>
        <a href="/user/travels/done">我的攻略</a>
      </p>
    </div>
  </div>

  <div class="main">
    <div class="inner-module">
      <div class="form-module">
        <h2 class="form-title">我的头像</h2>
        <%= simple_form_for(@user, as: "user", url: user_update_avatar_path(@user), html: {class: "form-horizontal"}, method: 'PUT') do |f| %>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div class="form-row form-up clearfix">
          <label>
            <div class="up-left">
              <em>*</em>上传图片：
            </div>
          </label>
          <div class="input-div">
            <div class="clearfix">
              <input class="img-input" type="text" id="url1" placeholder="上传一张封面图，图片大小小于1M" value="" />
              <div class="input file optional travel_cover">上传文件<input class="file optional" type="file" name="user[avatar]" id="user_avatar"></div>
            </div>
          </div>
        </div>
        <div class="form-row clearfix">
          <input class="btn btn-save btn-right" type="submit" value="保存" />
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'footer' %>
</div>
<% content_for :js do %>
<script type="text/javascript">
  $(function(){
   $("#user_avatar").change(function(){
    $(".img-input").val($("#user_avatar").val());
   })
  })
</script>
<% end %>