<div class="wrap">
  <%= render 'header' %>

  <div class="head-profile">
    <div class="inner-module">
      <a class="profile-img" href="/user/edit_avatar">
        <%= image_tag current_user.avatar_url(:v148x148), height: "148", width: "148" %>
      </a>
      <p><%= current_user.name %></p>
      <p>
        <a href="/user/travels/done">我的攻略</a>
      </p>
    </div>
  </div>

  <div class="main">
    <div class="inner-module">
      <div class="form-module">
        <h2 class="form-title">我的资料</h2>
        <%= simple_form_for(@user, as: "user", url: user_update_path(@user), html: {class: "form-horizontal"}, method: 'PUT', remote: true) do |f| %>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div class="form-row clearfix">
          <label><em>*</em>用户昵称：</label>
          <%= f.input :nickname, type: 'text', label: false %>
        </div>

<!--         <div class="form-row clearfix">
          <label><em>*</em>我的密码：</label>
          <%= f.input :password, type: 'password', label: false %>
        </div> -->

        <div class="form-row clearfix">
          <label><em>*</em>真实姓名：</label>
          <%= f.input :name, type: 'text', label: false %>
        </div>

        <div class="form-row clearfix">
          <label><em>*</em>电话号码：</label>
          <%= f.input :mobile, type: 'text', label: false %>
        </div>

        <div class="form-row clearfix">
          <label><em>*</em>邮箱地址：</label>
          <%= f.input :email, type: 'text', label: false %>
        </div>

        <div class="form-row clearfix">
          <input class="btn btn-save" type="submit" value="保存" />
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'footer' %>
</div>