<div class="wrap">
  <%= render 'header' %>

  <div class="main">
    <div class="inner-module">
      <div class="edit-box">
        <%= simple_form_for(@travel, as: "travel", url: @travel.new_record? ? user_travels_path : user_travel_path(@travel), html: {class: "form-horizontal"}) do |f| %>
        <%= tag(:input, type: "hidden", name: '[travel]is_finished', id: 'is_finished', value: false) %>
        <ul>
          <li class="clearfix">
            <i class="num-bg focus">1</i>
            <span class="edit-title">选择板块</span>
            <div class="edit-content">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="a-list clearfix">
                  <%= f.collection_radio_buttons :area_id, Travel.areas.value_label_map.to_a, :first, :last %>
                </div>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">2</i>
            <span class="edit-title">编写标题</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:title, label: false, placeholder: "编写标题，标题文字不超过20字", type: 'text' ) %>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">3</i>
            <span class="edit-title">填写路线</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:line, label: false, placeholder: "填写路线，例如：北京—巴厘岛—大溪地—北京", type: 'text') %>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">4</i>
            <span class="edit-title">上传封面</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="input-div">
                  <div class="clearfix">
                    <%= f.input(:cover, label: false, class: 'img-btn', value: '选择图片', placeholder: "上传一张封面图，图片大小小于2M") %>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">5</i>
            <span class="edit-title">攻略内容</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="input-div">
                  <%= f.kindeditor :content, simple_mode: false, filterMode: false, window_onload: true, name: 'travel[content]', "items":["image"], class: 'ke-container' %>
                </div>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">6</i>
            <span class="edit-title">攻略总结</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <%= f.input(:sentiment, label: false, type: 'text', placeholder: '总结：例如旅行感悟等等') %>
              </div>
              <div class="all-submit">
                <div class="clearfix">
                  <div class="form-rules">
                    <input class="checked-icon" id="rules-link" type="checkbox" checked="1"/>
                    <label for="rules-link">我已仔细阅读活动条款内容</label>
                  </div>
                  <%= f.button :button, "上传攻略", id: 'finished_btn', class: 'btn-up' %>
                  <%= f.button :submit, "保存草稿", class: 'btn-link' %>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function(){

    //获取焦点
    $('.edit-box ul li:eq(0)').children('i').addClass('focus');
    $('.edit-box ul li').mouseover(function(){
      $(this).children('i').addClass('focus');
    });
    $('.edit-box ul li').mouseout(function(){
      $(this).children('i').removeClass('focus');
      $(this).parent('ul').children('li').eq(0).children('i').addClass('focus');
    });

  })

  $(function(){
    $('#finished_btn').click(function(){
      $('#is_finished').val(true);
      $('#new_travel').submit();
    })
  })
</script>
<% end %>


<%= simple_form_for(@travel, as: "travel", url: @travel.new_record? ? user_travels_path : user_travel_path(@travel), html: {class: "form-horizontal"}) do |f| %>
<% @travel.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
<%= f.collection_radio_buttons :area_id, Travel.areas.value_label_map.to_a, :first, :last %>

<% end %>


