<div class="wrap">
  <%= render 'header' %>

  <div class="main">
    <div class="inner-module">
      <div class="edit-box">
        <%= simple_form_for(@travel, as: "travel", url: @travel.new_record? ? user_travels_path : user_travel_path(@travel), html: {class: "form-horizontal", :multipart => true}) do |f| %>
        <%= tag(:input, type: "hidden", name: '[travel]is_finished', id: 'is_finished', value: false) %>
        <ul>
          <li class="clearfix">
            <i class="num-bg">1</i>
            <span class="edit-title">选择板块</span>
            <div class="edit-content">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="a-list clearfix">
                  <div class="clearfix">
                    <%= f.collection_radio_buttons(:area_id, Travel.areas.value_label_map.to_a, :first, :last) %>
                  </div>
                </div>
              </div>
              <p class="required-select" style="display:none;" id="error_area_id">请选择一个板块</p>
            </div>
          </li>

          <li class="clearfix" <% unless @show_event %>style="display:none;"<% end %>>
            <i class="num-bg">2</i>
            <span class="edit-title">选择活动</span>
            <div class="edit-content">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="a-list2 clearfix">
                  <div class="clearfix">
                    <%= f.collection_radio_buttons(:event_id, Travel.events.value_label_map.to_a, :first, :last) %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          
          <li class="clearfix">
            <i class="num-bg"><%= @show_event ? 3 : 2 %></i>
            <span class="edit-title">编写标题</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:title, label: false, placeholder: "编写标题，标题文字不超过20字", type: 'text' ) %>
              </div>
            </div>
          </li>
          <% unless @show_event %>
          <li class="clearfix">
            <i class="num-bg"><%= @show_event ? 4 : 3 %></i>
            <span class="edit-title">填写路线</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:line, label: false, placeholder: "填写路线，例如：北京—巴厘岛—大溪地—北京", type: 'text') %>
              </div>
            </div>
          </li>
          <% end %>
          <li class="clearfix">
            <i class="num-bg"><%= @show_event ? 4 : 4 %></i>
            <span class="edit-title"><% if @show_event %>上传美图<% else %>上传封面<% end %></span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="input-div">
                  <div class="clearfix">
                    <% if @show_event %>
                    <input class="img-input" type="text" id="url1" placeholder="上传一张美图，图片大小小于2M" value="" />
                    <% else %>
                    <input class="img-input" type="text" id="url1" placeholder="上传一张封面图，图片大小小于2M" value="" />
                    <% end %>
                    <div class="input file optional travel_cover">选择图片<input class="file optional" type="file" name="travel[cover]" id="travel_cover"></div>
                  </div>
                </div>
              </div>
              <p class="required-select" style="display:none;" id="error_cover">必须上传一张封面图片</p>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg"><%= @show_event ? 5 : 5 %></i>
            <span class="edit-title"><% if @show_event %>图片简介<% else %>攻略内容<% end %></span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="input-div">
                  <% if @show_event %>
                  <%= f.kindeditor :content, filterMode: false, window_onload: true, name: 'travel[content]', class: 'ke-container', :editor_id => 'my_editor', items: ["fontname","fontsize","|","forecolor","hilitecolor","bold","italic","underline","removeformat","|","justifyleft","justifycenter","justifyright","insertorderedlist","insertunorderedlist","|","emoticons"] %>
                  <% else %>
                  <%= f.kindeditor :content, simple_mode: false, filterMode: false, window_onload: true, name: 'travel[content]', class: 'ke-container', :editor_id => 'my_editor' %>
                  <% end %>
                </div>
                <% if @show_event %>
                <div class="all-submit">
                  <div class="clearfix">
                    <div class="form-rules">
                      <input class="checked-icon" id="rules-link" type="checkbox" checked="1"/>
                      <label>我已仔细阅读<a href="/sub/rule" target="_blank">《活动细则内容》</a></label>
                    </div>
                    <%= f.button :button, "上传攻略", id: 'finished_btn', class: 'btn-up', "data-disable-with" => "保存中...", type: :button %>
                    <%= f.button :button, "保存草稿", id: 'submit_btn', class: 'btn-link', "data-disable-with" => "保存中...", type: :button %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </li>
          <% unless @show_event %>
          <li class="clearfix">
            <i class="num-bg"><%= @show_event ? 7 : 6 %></i>
            <span class="edit-title">攻略总结</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:sentiment, label: false, type: 'text', placeholder: '总结：例如旅行感悟等等') %>
              </div>
              <div class="all-submit">
                <div class="clearfix">
                  <div class="form-rules">
                    <input class="checked-icon" id="rules-link" type="checkbox" checked="1"/>
                    <label>我已仔细阅读<a href="/sub/rule" target="_blank">《活动细则内容》</a></label>
                  </div>
                  <%= f.button :button, "上传攻略", id: 'finished_btn', class: 'btn-up', "data-disable-with" => "保存中...", type: :button %>
                  <%= f.button :button, "保存草稿", id: 'submit_btn', class: 'btn-link', "data-disable-with" => "保存中...", type: :button %>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>

<% content_for :js do %>
<script type="text/javascript">

  function validate_form(){
    var result = true
    $("#error_area_id").hide();
    $("#error_cover").hide();
    if($("[name='travel[area_id]']:checked").val() == undefined){
      $("#error_area_id").show();
      result = false;
    }
    if($("#travel_cover").val() == ""){
      $("#error_cover").show();
      result = false;
    }
    return result;
  }

  $(document).ready(function(){
    $('.edit-box ul li').mouseover(function(){
      $(this).children('i').addClass('focus');
    });
    $('.edit-box ul li').mouseout(function(){
      $(this).children('i').removeClass('focus');
    });

    $('.a-list label').addClass('label-check');
    $('.a-list2 label').addClass('label-check');

    $('.a-list input').each(function(){
      var self = $(this),
      label = self.next(),
      label_text = label.text();

      label.remove();
      self.iCheck({
        checkboxClass: 'icheckbox_line-red',
        radioClass: 'iradio_line-red',
        insert: '<div class="icheck_line-icon"></div>' + label_text
      });
    });

    $('.a-list2 input').each(function(){
      var self = $(this),
      label = self.next(),
      label_text = label.text();

      label.remove();
      self.iCheck({
        checkboxClass: 'icheckbox_line-red',
        radioClass: 'iradio_line-red',
        insert: '<div class="icheck_line-icon"></div>' + label_text
      });
    });

    $('#finished_btn').click(function(){
      if(validate_form() == true){
        alert(1)
        $('#is_finished').val(true);
        $('#new_travel').submit();
      }
    });

    $("#submit_btn").click(function(){
      if(validate_form() == true){
        alert(1)
        $('#new_travel').submit();
      }
    });

    $("#travel_cover").change(function(){
      $(".img-input").val($("#travel_cover").val());
    });

    var validator = $("#new_travel").validate({
      rules: {
        "travel[title]": { required: true },
        <% unless @show_event %>
        "travel[line]": { required: true },
        "travel[sentiment]": { required: true },
        <% end %>
        "travel[content]": { required: true }
      }
    });
  });
</script>
<% end %>
