<div class="wrap">
  <%= render 'header' %>

  <div class="main">
    <div class="inner-module">
      <div class="edit-box">
        <%= simple_form_for(@travel, as: "travel", url: @travel.new_record? ? user_travels_path : user_travel_path(@travel), html: {class: "form-horizontal"}) do |f| %>
        <%= tag(:input, type: "hidden", name: '[travel]is_finished', id: 'is_finished', value: false) %>
        <ul>
          <li class="clearfix">
            <i class="num-bg focus">1</i>
            <span class="edit-title">选择板块</span>
            <div class="edit-content">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="a-list clearfix">
                  <div class="clearfix">
                    <%= f.collection_radio_buttons(:area_id, Travel.areas.value_label_map.to_a, :first, :last) %>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">2</i>
            <span class="edit-title">编写标题</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:title, label: false, placeholder: "编写标题，标题文字不超过20字", type: 'text' ) %>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">3</i>
            <span class="edit-title">填写路线</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <%= f.input(:line, label: false, placeholder: "填写路线，例如：北京—巴厘岛—大溪地—北京", type: 'text') %>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">4</i>
            <span class="edit-title">上传封面</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="input-div">
                  <div class="clearfix">
                    <input class="img-input" type="text" id="url1" placeholder="上传一张封面图，图片大小小于2M" value="" />
                    <input class="img-btn" value="选择图片" type="file" name="travel[cover]" id="travel_cover">
                  </div>
                </div>

              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">5</i>
            <span class="edit-title">攻略内容</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <em>*</em>
                <div class="input-div">
                  <%= f.kindeditor :content, simple_mode: false, filterMode: false, window_onload: true, name: 'travel[content]', class: 'ke-container', :simple_mode => false %>
                </div>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <i class="num-bg">6</i>
            <span class="edit-title">攻略总结</span>
            <div class="edit-content2">
              <div class="edit-content-inner">
                <%= f.input(:sentiment, label: false, type: 'text', placeholder: '总结：例如旅行感悟等等') %>
              </div>
              <div class="all-submit">
                <div class="clearfix">
                  <div class="form-rules">
                    <input class="checked-icon" id="rules-link" type="checkbox" checked="1"/>
                    <label>我已仔细阅读<a href="/sub/rule" target="_blank">《活动细则内容》</a></label>
                  </div>
                  <%= f.button :button, "上传攻略", id: 'finished_btn', class: 'btn-up' %>
                  <%= f.button :submit, "保存草稿", class: 'btn-link' %>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>

<%
form_for @travel do |f|
  f.collection_radio_buttons :area_id, [[true, 'Yes'] ,[false, 'No']], :first, :last
end
%>

<% content_for :js do %>
<script type="text/javascript">
  $(document).ready(function(){

    //获取焦点

    $('.edit-box ul li').mouseover(function(){
      $(this).children('i').addClass('focus');
    });
    $('.edit-box ul li').mouseout(function(){
      $(this).children('i').removeClass('focus');
    });

    $('.a-list label').addClass('label-check');

      //自定义单选框
      $('.a-list input').each(function(){
        var self = $(this),
        label = self.next(),
        label_text = label.text();

        label.remove();
        self.iCheck({
          checkboxClass: 'icheckbox_line-red',
          radioClass: 'iradio_line-red',
          insert: '<div class="icheck_line-icon"></div>' + label_text
        });
      });

    })

  $(function(){
    $('#finished_btn').click(function(){
      $('#is_finished').val(true);
      $('#new_travel').submit();
    })
  })
</script>
<% end %>
