<div class="wrap">
  <%= render 'header' %>

  <div class="head-profile">
    <div class="inner-module">
      <a class="profile-img" href="/user/edit_avatar">
        <%= image_tag current_user.avatar_url(:v148x148), height: "148", width: "148" %>
      </a>
      <p><%= current_user.nickname %></p>
      <p>
        <a href="/user/edit">我的资料</a>
      </p>
    </div>
  </div>

  <div class="main">
    <div class="inner-module">
      <div>
        <div class="box demo2">
          <ul class="tab_menu">
            <li class="line-right current">已发布的攻略</li>
            <a href="/user/travels/draft"><li>草稿箱</li></a>
          </ul>
          <div class="tab_box">
            <div class="tab-inner">
              <ul class="list-content">
                <% @travels.each do |travel| %>
                <li>
                  <div class="clearfix">
                    <a class="img-content" href="javascript:;">
                      <%= image_tag travel.cover_url(:v320x280), width: "320", height: "280" %>
                    </a>
                    <div class="list-description">
                      <h3>
                        <a href="detail.shtml"><%= travel.title %></a>
                      </h3>
                      <p class="summary">
                        如果平静是信仰的目的，那么我觉得我在库克找到了我的信仰。宁静的澙湖，明媚的阳光，淳朴快乐的库克人……过滤掉一切的不安与浮躁，是一个不会被惊醒的梦。
                      </p>
                      <p class="small-text clearfix">
                        <span class="icon-time"><%= l travel.created_at %></span>
                        <span class="icon-pepole"><%= travel.read_count %>人</span>
                        <span class="icon-heart"><%= travel.like_count %></span>
                        <span class="from">来自：<%= Travel.areas.value_label_map[@travel.area_id.to_s] %> 版</span>
                      </p>
                    </div>
                  </div>
                  <div class="bottom-line1"></div>
                </li>
                <% end %>

                <li>
                  <div class="clearfix">
                    <a class="img-content" href="<%= new_user_travel_path %>">
                      <%= image_tag 'add.jpg', width: '320', height: '190' %>
                    </a>
                    <div class="list-description">&nbsp;</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div><!--demo2 end-->
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>