<div class="wrap">
  <%= render 'header' %>

  <div class="head-profile">
    <div class="inner-module">
      <a class="profile-img" href="/user/edit_avatar">
        <%= image_tag current_user.avatar_url(:v148x148), height: "148", width: "148" %>
      </a>
      <p><%= current_user.nickname %></p>
      <p>
        <a href="/user/edit">我的资料</a>
      </p>
    </div>
  </div>

  <div class="main">
    <div class="inner-module">
      <div>
        <div class="box demo2">
          <ul class="tab_menu">
            <li class="line-right current">已发布</li>
            <li><a href="/user/travels/draft">草稿箱</a></li>
          </ul>
          <div class="tab_box">
            <div class="tab-inner">
              <ul class="list-content">
                <% @travels.each do |travel| %>
                <li>
                  <div class="clearfix">
                    <a class="img-content" href="/travels/<%= travel.id %>" target="_blank">
                      <%= image_tag travel.cover_url(:v320x190), width: "320", height: "190" %>
                    </a>
                    <div class="list-description">
                      <h3 class="clearfix">
                         <a class="title-limit" href="/travels/<%= travel.id %>" target="_blank"><%= travel.title %></a>
                        <span>
                          <div class="caozuo clearfix">
                            <%= link_to '删除攻略', user_travel_path(travel), method: 'DELETE', remote: 'true', class: 'remove', data: { confirm:'您确认删除吗？' } %>
                          </div>
                        </span>
                      </h3>
                      <p class="summary">
                        <%= travel.sentiment %>
                      </p>
                      <p class="small-text clearfix">
                        <span class="icon-time"><%= l travel.created_at %></span>
                        <span class="icon-pepole"><%= travel.read_count || 0 %>人</span>
                        <span class="icon-heart"><%= travel.like_count || 0 %></span>
                        <span class="from">来自：<%= Travel.areas.value_label_map[travel.area_id.to_s] %> 版</span>
                      </p>
                    </div>
                  </div>
                  <div class="bottom-line1"></div>
                </li>
                <% end %>

                <li>
                  <div class="clearfix">
                    <a class="img-content" href="<%= new_user_travel_path %>">
                      <%= image_tag 'add.jpg', width: '320', height: '190' %>
                    </a>
                    <div class="list-description">&nbsp;</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div><!--demo2 end-->
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>