<div class="row">
  <div class="span3 pull-right">
  </div>
  
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>用户创建时间</th>
          <th>姓名</th>
          <th>邮箱</th>
          <th>手机号</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <th><%= l(user.created_at) rescue nil %></th>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, previous_label: '上一页', next_label: '下一页' %>
  </div>
</div>