<div class="row">
  <div class="span3 pull-right">
  </div>
  
  <div class="span12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>创建时间</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>紧急冻结</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @travels.each do |travel| %>
        <tr>
          <td><%= l travel.created_at %></td>
          <td><a href="/travels/<%= travel.id %>" target="_blank"><%= travel.title %></a></td>
          <td><%= travel.user.name %></td>
          <td>
            <% if travel.is_verified? %>
            已审核
            <% else %>
            <%= link_to '审核通过', set_verified_admin_travel_path(travel), remote: true, method: 'PUT', class: 'btn' %>
            <% end %>
          </td>
          <td>
            <% if travel.is_verified? %>
            <% if travel.is_blocked? %>
            <%= link_to '取消冻结', set_unblocked_admin_travel_path(travel), remote: true, method: 'PUT', class: 'btn' %>
            <% else %>
            <%= link_to '冻结', set_blocked_admin_travel_path(travel), remote: true, method: 'PUT', class: 'btn' %>
            <% end %>
            <% else %>
            请先进行审核
            <% end %>
          </td>
          <td>
            <%= link_to "编辑", edit_admin_travel_path(travel), target: '_blank', class: 'btn' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @travels, previous_label: '上一页', next_label: '下一页' %>
  </div>
</div>