<!DOCTYPE html>
<html>
<head>
  <title>爱go，爱晒，爱分享</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?cd51528779fca8c90dd44e4fd3756df2";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= yield :js %>
</body>
</html>
