<div class="bg-page register-bg">
  <div class="form-container">
    <div class="form-content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h3>马上注册，即可参与上传攻略，赢大奖！</h3>
      <div>
        <div class="form-group">
          <%= f.input :nickname, required: true, autofocus: true, placeholder: '用户昵称', type: 'text', label: false %>
          <!-- <p class="error">请输入昵称</p> -->
        </div>
        <div class="form-group">
          <%= f.input :password, required: true, placeholder: '您的密码', type: 'text', label: false %>
          <!-- <p class="error">请输入正确的邮箱格式</p> -->
        </div>
        <div class="form-group">
          <%= f.input :name, required: true, autofocus: true, placeholder: '真实姓名', type: 'text', label: false %>
          <!-- <p class="error">请输入真实姓名</p> -->
        </div>
        <div class="form-group">
          <%= f.input :mobile, required: true, autofocus: true, placeholder: '手机号码', type: 'text', label: false %>
          <!-- <p class="error">请输入您的手机号码</p> -->
        </div>
        <div class="form-group">
          <%= f.input :email, required: true, autofocus: true, placeholder: '邮箱地址', type: 'text', label: false %>
          <!-- <p class="error">请输入正确的邮箱格式</p> -->
        </div>
        <div class="form-group">
          <input class="btn btn-mar" type="submit" value="立即注册" />
        </div>
        <p class="small-notice small-notice2 clearfix">
          <span>已经注册？</span>
          <a href="/users/sign_in">马上登录</a>
          <a class="back" href="/">返回首页</a>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>